extends layout

block content
  body
    h2(align='center') Schedule

  link(rel='stylesheet' href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')

  style.
    .new_button{
    cursor:pointer;
    background-color:#2ECC71;
    color: white;
    border: 5px solid #66ccff;
    border-radius: 15%;
    height:60px;width:120px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition-duration: 0.75s; /* safari */
    transition-duration: 0.75s;
    }
  style.
    .edit_button{
    cursor:pointer;
    background-color:#ffb84d;
    color: white;
    border: 5px solid #66ccff;
    border-radius: 10%;
    height:60px;width:100px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition-duration: 0.75s; /* safari */
    transition-duration: 0.75s;
    }
  button.new_button(type='button', onclick="window.location.href='/schedule/submit'")#New New entry

  br
  br
  //##############################################
  //Filter by range table
  //##############################################
  //class for the filtertable
  style.
    #filtertable {
    border-collapse: separate;
    border-spacing: 10px;
    }
  //the filter table
  table(frame='above',style='width:100%')#filtertable
    tbody
      tr
        td Min week number:
        td
          input#minWeek(name='minWeek', type='number', value=0, min=0, max=53, step=1)
        
        td Max week number:
        td
          input#maxWeek(name='maxWeek', type='number',value=53, min=0, max=53, step=1)
        td Max date:

  br
  //The schedule arranged in a table
  tbody
    table#scheduletable.display(style='width:100%').compact
      thead
          th
            h4
              b Date
          th Week number
          th R1 planned (hours)
          th R3 Planned (hours)
          th SPF planned (hours)
      tbody
        each val, index in deliveryplans
          //get week numbers. from stackoverflow:stackoverflow.com/questions/6117814/get-week-of-year-in-javascript-like-in-php
          // Copy date so don't modify original
          - var d = new Date(val.date)
          // Set to nearest Thursday: current date + 4 - current day number
          // Make Sunday's day number 7
          - d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay()||7));
          - var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
          // Calculate full weeks to nearest Thursday
          - var weekNum = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);

          //Populate table
          tr
            td
              a(href="/schedule/edit/"+val._id) <button type="button" style='cursor:pointer;background-color:white;color:#66ccff;border: 3px solid #66ccff;border-radius: 6%;height:32px;width:140px;text-align: center;text-decoration: none;font-size: 14px;font-weight: bold;'>#{val.date}</button>
            td #{weekNum}
            td #{val.R1plan}
            td #{val.R3plan}
            td #{val.SPFplan}


  script.
    //Initialize the datatable
    $(document).ready( function () {
    $('#scheduletable').DataTable({
    "order": [[ 0, "desc" ]],
    "bInfo" : true,
    "bPaginate": true,
    });
    } );
  script.
    // Event listener to the range filtering inputs to redraw on input
    $('#minWeek, maxWeek').keyup( function() {
    $('#scheduletable').DataTable().draw();
    } );
  script.
    // Custom filtering function which will search data by week number
    $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
        //Week Numbers
        var minWeek = parseInt( $('#minWeek').val());
        var maxWeek = parseInt( $('#maxWeek').val());
        var week = parseInt( data[1] ) || 0; // use data from the week number column

          if ((minWeek <= week)   && (week <= maxWeek))
            {
            return true;
            }
            return false;
        }
    );


